data/*

# track raw data
!data/raw

#track key processed files
!data/processed
data/processed/*

!data/processed/adm_map
data/processed/adm_map/*
!data/processed/adm_map/merge.shp
!data/processed/adm_map/merge.dbf
!data/processed/adm_map/merge.prj
!data/processed/adm_map/merge.shx

!data/processed/bg_dating

!data/processed/biogeo
data/processed/biogeo/*
!data/processed/biogeo/backbone*

!data/processed/dispersal
data/processed/dispersal/*
!data/processed/dispersal/Lat_Dispersal_HiSSE*

!data/processed/mol
data/processed/mol/*
!data/processed/mol/*.nex

!data/processed/node_dating

!data/processed/nxs
data/processed/nxs/*

output/*

#track key output files
!output/bg_dating
output/bg_dating/*
!output/bg_dating/G1*
!output/bg_dating/*params.txt

!output/EBED
output/EBED/*
!output/EBED/*s.log

!output/HiSSE
output/HiSSE/*
!output/HiSSE/*.log
!output/HiSSE/*.tre

!output/node_dating
output/node_dating/*
!output/node_dating/G0*
!output/node_dating/*params.txt

!output/topology
output/topology/*
!output/topology/*MAP*

!output/biome_shift
output/biome_shift/*
!output/biome_shift/*.log
!output/biome_shift/*.tre
!output/biome_shift/*rf.tsv


scripts/COENPhylo_R1_files/
scripts/history.txt
scripts/spellcheck.sh
scripts/COENPhylo.html
scripts/COENPhylo.rmd

